*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}



body {
    
    background-image: url(./background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;    
    background-color: #121214;

}

main {
    justify-content: center;
    margin-top: 2%;
    display: grid;
    gap: 24px;

}


section h2{
    font-weight: 900;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.45;
}

section p {
font-weight: 400;
font-size: 16px;
line-height: 160%;
letter-spacing: -0.18px;
color: #A1A1AA;

}
section{
    background-image: linear-gradient(90deg, #e40000 0%, #ffffff 100%,black);
    color:  white;
    font-size: 16px;
    line-height: 160%;
    border-radius: 10px;
}
section div{
    gap: 5px;
    background-color: #2a2634;
    padding: 10px;
    padding-top: 1px;
    margin-top: 5px;
    border-radius: 10px;
    transition: box-shadow 0.2s; 
}

main section:nth-child(1){
    animation: fromTheSide 0.7 .4s backwards; 
}

main section:nth-child(2){
    animation: fromTheSide 0.7 .7s backwards; 
}

main section:nth-child(3){
    animation: fromTheSide 0.7 .9s backwards; 
}





section div:hover{
    box-shadow: 1px 1px 15px 10px rgba(255, 0, 0, 0.6)
}

section ul{ 
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px ;
    list-style: none;
    display: flex;
    gap: 16px;
}

section ul li{
    transition: transform 0.2s;

}
section ul li:hover{
    transform: scale(1.1);
}

.game-list img{
    border-radius: 8px;
}
.streamer-list{
    justify-content: none;
}
.streamer-list img{
    border-radius: 50%;
    width: 70px;
    
}
header{
    height: calc(120px);
    margin: 10px;

}


header div{
    width: 120px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: linear-gradient(90deg, #e40000 0%, #ffffff 100%);
    border-radius: 50%;
    padding: 4px;
    transition: box-shadow 0.2s;
   
}

header div:hover{
    box-shadow: 1px 1px 15px 10px rgba(255, 0, 0, 0.6)
}

header img{
    
    width: 100%;
    border-radius: 50%;
 }
 
/* animation*/
header div  {
    animation: headerFromTheTop 0.7 .4s backwards;}


@keyframes headerFromTheTop {
    from {
        opacity: 0.1;
        transform:translateY(-70px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }

    
}


@keyframes fromTheSide {
        
    from{  
        opacity: 0;
        transform: translateX(-100px);
    }

    to{ 
        opacity: 1;
        transform: translateX(0);
    }

   

}

